.App {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 100%;
}

.aboutMe {
    text-align:center;
}

.college {
    font-size: 150%;
}

.center-graph {
    text-align:center;
    position:absolute;
    top: 45%;
    right: 45%
}

.cards {
    background-color: red;
    color:white;
    text-align:center;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.skills {
    margin: auto;
    width: 50%;
    padding: 10px;
  
}